<!-- Start Script Custom -->
{% for tag in product.tags %}
    {% if tag == 'personalizar' %}
      <div
        class="personalizacao"
        id="aparecer"
        style="width:100%;">
        {% render "campo-de-personalizacao" %}
      </div>
  
      <script>
        
  // Adicione ouvintes de eventos para atualizar e armazenar o valor de showBox nos cookies
  const productForm = document.querySelectorAll("span.product-form__selected-value")
  if(productForm){
    productForm.forEach((item, i) => {
    if(item.innerText === "Não Personalizar" || item.innerText === "Personalizar" ){
      if(item.innerText === "Não Personalizar"){
        document.querySelector("div#aparecer").style.display = "none";
      }else if(item.innerText === "Personalizar"){
        document.querySelector("div#aparecer").style.display = "block";
      }
      
      const btNotCustomize = document.querySelectorAll(".product-form__option")[i].querySelectorAll(".block-swatch")[0];
        btNotCustomize.addEventListener("click", () => {
          
          document.querySelector("div#aparecer").style.display = "none";
        });
  
        const btCustomize = document.querySelectorAll(".product-form__option")[i].querySelectorAll(".block-swatch")[1];
        btCustomize.addEventListener("click", () => {
          
          document.querySelector("div#aparecer").style.display = "block";
        });
    }
  })
  }
      </script>
    {% endif %}
  {% endfor %}
  <!-- End Script Custom -->

  <!-- Start Table Product Custom -->
{% for tag in product.tags %}
    {% if tag == 'personalizar' %}
            {% render "tabela-de-tamanho" %}
      {% endif %}
  {% endfor %}
  <!-- End Table Product Custom -->