<!-- Start Popup -->
<div class="size-popup">
    <modal-opener class="product-popup-modal__opener no-js-hidden quick-add-hidden" data-modal="#PopupModal-6e756461-893f-4d8a-8576-a029e1ee37ba">
      <button id="ProductPopup-6e756461-893f-4d8a-8576-a029e1ee37ba" class="product-popup-modal__button link" type="button" aria-haspopup="dialog"><svg class="icon size-chart color-foreground-text" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 888 883.4" style="enable-background:new 0 0 888 883.4;" xml:space="preserve">
<path d="M254.7,880.1c2.7-1.7,166.9-165.5,365.2-364C895.4,240.5,888,250.7,888,245c-0.1-4-1-7.9-2.7-11.5
c-1.5-2.9-54-56.1-116.4-118.5C690.9,37.1,653.8,1.4,650.1,0.4c-3.7-0.6-7.5-0.5-11.1,0.4c-3.8,1.2-27.2,19.4-275.3,267.5
C-16.2,648-2.6,634,1,646.6c1.6,5.2,225.3,230.1,233,234.3C240.5,884.5,248.5,884.2,254.7,880.1z M81.5,607.9l31.6-31.6l51.3,51.3
c51.1,51.1,51.3,51.1,59.5,51.1c6.9,0,9.4-1.1,14.9-6.7c6.1-6.1,6.7-7.5,5.7-14.7c-1-7.3-4.8-11.5-51.9-58.8l-50.9-50.9l21.4-21.4
l21.6-21.6l26,25.8c24.7,24.7,26.4,25.8,33.7,25.8c14,0,24.3-13.6,19.7-26c-1.2-3.1-13-16.5-26.4-29.9l-24.3-24.5l21-21l20.9-21.1
l50.9,50.7c51.7,51.3,52.4,52.1,65.1,50.9c6.1-0.6,14.9-9.4,15.5-15.5c1.2-12.6,0.4-13.4-50.9-65.1l-50.7-50.9l21.1-20.9l21-21
l24.5,24.3c13.4,13.4,26.8,25.3,29.9,26.4c12.4,4.6,26-5.7,26-19.7c0-7.3-1.2-9-25.8-33.7l-25.8-26l21.7-21.7l21.4-21.4l50.9,50.9
c47.3,47.1,51.5,50.9,58.8,51.9s8.6,0.4,14.7-5.7c5.5-5.5,6.7-8,6.7-14.9c0-8.2,0-8.4-51.1-59.5l-51.3-51.3l21-21l20.9-21l25.1,24.7
c13.6,13.6,27,25.3,29.3,26c15.3,4.6,30.2-9.8,26.2-25.3c-0.8-3.3-11.3-15.5-26-30.2l-24.7-25.1l21.1-20.9l21-21L593,199
c51.1,51.1,51.3,51.1,59.5,51.1c6.9,0,9.4-1.2,14.9-6.7c6.1-6.1,6.7-7.5,5.7-14.7c-1-7.5-4.6-11.5-51.9-58.8L570.4,119l71.4-71.4
l2.2,1.8l0,0l97,97l97.2,97.3l-251,247L244.1,833.8l-97-97l-97.2-97.2L81.5,607.9z"></path>
</svg></svg> Tabelas de Medidas</button>
    </modal-opener>
    <a href="/pages/tabela-de-medidas" class="product-popup-modal__button link no-js">Tamanho do gráfico</a> <span class="size-chart-text"><span>
    </span></span></div>

<modal-dialog id="PopupModal-6e756461-893f-4d8a-8576-a029e1ee37ba" class="product-popup-modal">
<div role="dialog" aria-label="" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
<button id="ModalClose-6e756461-893f-4d8a-8576-a029e1ee37ba" type="button" class="product-popup-modal__toggle" aria-label="Fechar"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" fill="none" viewBox="0 0 18 17">
<path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
</path></svg>
</button>
<div class="product-popup-modal__content-info">
<div class="table-images">
  <img src="https://cdn.shopify.com/s/files/1/0632/3417/9240/files/yuzoh.jpg?v=1699202898" alt="Imagem Versão Jogador" />
  <img src="https://cdn.shopify.com/s/files/1/0632/3417/9240/files/3hwu5b.jpg?v=1699199771" alt="Imagem Versão Jogador" />
  <img src="https://cdn.shopify.com/s/files/1/0632/3417/9240/files/pmlz4b.jpg?v=1699199771" alt="Imagem Versão Torcedor" />
  <img src="https://cdn.shopify.com/s/files/1/0632/3417/9240/files/gwq69.jpg?v=1699199771" alt="Imagem Versão Femenino" />
  <img src="https://cdn.shopify.com/s/files/1/0632/3417/9240/files/b9avao.jpg?v=1699199771" alt="Imagem Versão Infantil" />  
</div>
</div>
</div>
</modal-dialog>

<style>
#ModalClose-6e756461-893f-4d8a-8576-a029e1ee37ba {
position: absolute;
height: 40px;
border-radius: 50%;
width: 40px;
background: #fff;
color: #F4A716;
top: 10px;
right: 20px;
}
.table-images{
display:flex;
height: fit-content;
padding: 1rem 0;
}
.table-images img{
width:20%;

}

@media(max-width:736px){
.table-images{
flex-wrap: wrap;
height: inherit;
gap: 30px 0px;
}
.table-images img{
width:50%;

}
}


.product-popup-modal {

box-sizing: border-box;
opacity: 0;
position: fixed;
visibility: hidden;
z-index: -1;
margin: 0 auto;
top: 0;
left: 0;
overflow: auto;
width: 100%;
background: rgba(var(--color-foreground),.2);
height: 100%;
}
.product-popup-modal[open] {
opacity: 1;
visibility: visible;
z-index: 101;
}
.product-popup-modal__content-info {
height: 100%;
align-items: center;
justify-content: center;
display: flex;
}
.product-popup-modal__content {
border-radius: var(--popup-corner-radius);
background-color: #F4A716;
overflow: auto;
height: 80%;
margin: 0 auto;
margin-top: 0px;
left: 50%;
transform: translate(-50%);
margin-top: 5rem;
width: 92%;
position: absolute;
top: 0;
padding: 0 1.5rem 0 3rem;
border-color: rgba(var(--color-foreground),var(--popup-border-opacity));
border-width: var(--popup-border-width);
box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow),var(--popup-shadow-opacity));
}

</style>

<script>
    class ModalDialog extends HTMLElement {
  constructor() {
    super();
    this.querySelector('[id^="ModalClose-"]').addEventListener(
      'click',
      this.hide.bind(this, false)
    );
    this.addEventListener('keyup', (event) => {
      if (event.code.toUpperCase() === 'ESCAPE') this.hide();
    });
    if (this.classList.contains('media-modal')) {
      this.addEventListener('pointerup', (event) => {
        if (event.pointerType === 'mouse' && !event.target.closest('deferred-media, product-model')) this.hide();
      });
    } else {
      this.addEventListener('click', (event) => {
        if (event.target === this) this.hide();
      });
    }
  }

  connectedCallback() {
    if (this.moved) return;
    this.moved = true;
    document.body.appendChild(this);
  }

  show(opener) {
    this.openedBy = opener;
    const popup = this.querySelector('.template-popup');
    document.body.classList.add('overflow-hidden');
    this.setAttribute('open', '');
    if (popup) popup.loadContent();
    trapFocus(this, this.querySelector('[role="dialog"]'));
    window.pauseAllMedia();
  }

  hide() {
    document.body.classList.remove('overflow-hidden');
    document.body.dispatchEvent(new CustomEvent('modalClosed'));
    this.removeAttribute('open');
    removeTrapFocus(this.openedBy);
    window.pauseAllMedia();
  }
}
customElements.define('modal-dialog', ModalDialog);

class ModalOpener extends HTMLElement {
  constructor() {
    super();

    const button = this.querySelector('button');

    if (!button) return;
    button.addEventListener('click', () => {
      const modal = document.querySelector(this.getAttribute('data-modal'));
      if (modal) modal.show(button);
    });
  }
}
customElements.define('modal-opener', ModalOpener);

function getFocusableElements(container) {
  return Array.from(
    container.querySelectorAll(
      "summary, a[href], button:enabled, [tabindex]:not([tabindex^='-']), [draggable], area, input:not([type=hidden]):enabled, select:enabled, textarea:enabled, object, iframe"
    )
  );
}

function removeTrapFocus(elementToFocus = null) {
  document.removeEventListener('focusin', trapFocusHandlers.focusin);
  document.removeEventListener('focusout', trapFocusHandlers.focusout);
  document.removeEventListener('keydown', trapFocusHandlers.keydown);

  if (elementToFocus) elementToFocus.focus();
}
      
const trapFocusHandlers = {};

function trapFocus(container, elementToFocus = container) {
  var elements = getFocusableElements(container);
  var first = elements[0];
  var last = elements[elements.length - 1];

  removeTrapFocus();

  trapFocusHandlers.focusin = (event) => {
    if (
      event.target !== container &&
      event.target !== last &&
      event.target !== first
    )
      return;

    document.addEventListener('keydown', trapFocusHandlers.keydown);
  };

  trapFocusHandlers.focusout = function() {
    document.removeEventListener('keydown', trapFocusHandlers.keydown);
  };

  trapFocusHandlers.keydown = function(event) {
    if (event.code.toUpperCase() !== 'TAB') return; // If not TAB key
    // On the last focusable element and tab forward, focus the first element.
    if (event.target === last && !event.shiftKey) {
      event.preventDefault();
      first.focus();
    }

    //  On the first focusable element and tab backward, focus the last element.
    if (
      (event.target === container || event.target === first) &&
      event.shiftKey
    ) {
      event.preventDefault();
      last.focus();
    }
  };

  document.addEventListener('focusout', trapFocusHandlers.focusout);
  document.addEventListener('focusin', trapFocusHandlers.focusin);

  elementToFocus.focus();

  if (elementToFocus.tagName === 'INPUT' &&
    ['search', 'text', 'email', 'url'].includes(elementToFocus.type) &&
    elementToFocus.value) {
    elementToFocus.setSelectionRange(0, elementToFocus.value.length);
  }
}

function pauseAllMedia() {
  document.querySelectorAll('.js-youtube').forEach((video) => {
    video.contentWindow.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*');
  });
  document.querySelectorAll('.js-vimeo').forEach((video) => {
    video.contentWindow.postMessage('{"method":"pause"}', '*');
  });
  document.querySelectorAll('video').forEach((video) => video.pause());
  document.querySelectorAll('product-model').forEach((model) => {
    if (model.modelViewerUI) model.modelViewerUI.pause();
  });
}
</script>

<!-- End Popup -->   